html[data-theme="light"] .highlight pre { line-height: 125%; }
html[data-theme="light"] .highlight td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight .hll { background-color: #ffffcc }
html[data-theme="light"] .highlight { background: #ffffff; color: #4d4d4d }
html[data-theme="light"] .highlight .c { color: #0080ff; font-style: italic } /* Comment */
html[data-theme="light"] .highlight .err { color: #ffffff; background-color: #cc0000 } /* Error */
html[data-theme="light"] .highlight .k { color: #2c5dcd; font-weight: bold } /* Keyword */
html[data-theme="light"] .highlight .o { color: #2c5dcd } /* Operator */
html[data-theme="light"] .highlight .ch { color: #0080ff; font-style: italic } /* Comment.Hashbang */
html[data-theme="light"] .highlight .cm { color: #0080ff; font-style: italic } /* Comment.Multiline */
html[data-theme="light"] .highlight .cp { color: #0080ff } /* Comment.Preproc */
html[data-theme="light"] .highlight .cpf { color: #0080ff; font-style: italic } /* Comment.PreprocFile */
html[data-theme="light"] .highlight .c1 { color: #0080ff; font-style: italic } /* Comment.Single */
html[data-theme="light"] .highlight .cs { color: #0080ff; font-weight: bold; font-style: italic } /* Comment.Special */
html[data-theme="light"] .highlight .gd { background-color: #ffcccc; border: 1px solid #c5060b } /* Generic.Deleted */
html[data-theme="light"] .highlight .ge { font-style: italic } /* Generic.Emph */
html[data-theme="light"] .highlight .gr { color: #ff0000 } /* Generic.Error */
html[data-theme="light"] .highlight .gh { color: #2c5dcd; font-weight: bold } /* Generic.Heading */
html[data-theme="light"] .highlight .gi { background-color: #ccffcc; border: 1px solid #00cc00 } /* Generic.Inserted */
html[data-theme="light"] .highlight .go { color: #aaaaaa } /* Generic.Output */
html[data-theme="light"] .highlight .gp { color: #2c5dcd; font-weight: bold } /* Generic.Prompt */
html[data-theme="light"] .highlight .gs { font-weight: bold } /* Generic.Strong */
html[data-theme="light"] .highlight .gu { color: #2c5dcd; font-weight: bold } /* Generic.Subheading */
html[data-theme="light"] .highlight .gt { color: #c5060b } /* Generic.Traceback */
html[data-theme="light"] .highlight .kc { color: #2c5dcd; font-weight: bold } /* Keyword.Constant */
html[data-theme="light"] .highlight .kd { color: #2c5dcd; font-weight: bold } /* Keyword.Declaration */
html[data-theme="light"] .highlight .kn { color: #2c5dcd; font-weight: bold } /* Keyword.Namespace */
html[data-theme="light"] .highlight .kp { color: #2c5dcd } /* Keyword.Pseudo */
html[data-theme="light"] .highlight .kr { color: #2c5dcd; font-weight: bold } /* Keyword.Reserved */
html[data-theme="light"] .highlight .kt { color: #5918bb; font-weight: bold } /* Keyword.Type */
html[data-theme="light"] .highlight .m { color: #5918bb; font-weight: bold } /* Literal.Number */
html[data-theme="light"] .highlight .s { color: #00cc66 } /* Literal.String */
html[data-theme="light"] .highlight .na { color: #2c5dcd; font-style: italic } /* Name.Attribute */
html[data-theme="light"] .highlight .nb { color: #5918bb; font-weight: bold } /* Name.Builtin */
html[data-theme="light"] .highlight .nc { text-decoration: underline } /* Name.Class */
html[data-theme="light"] .highlight .no { color: #318495 } /* Name.Constant */
html[data-theme="light"] .highlight .nd { color: #ff8000; font-weight: bold } /* Name.Decorator */
html[data-theme="light"] .highlight .ni { color: #5918bb; font-weight: bold } /* Name.Entity */
html[data-theme="light"] .highlight .ne { color: #5918bb; font-weight: bold } /* Name.Exception */
html[data-theme="light"] .highlight .nf { color: #ff8000; font-weight: bold } /* Name.Function */
html[data-theme="light"] .highlight .nt { color: #2c5dcd; font-weight: bold } /* Name.Tag */
html[data-theme="light"] .highlight .ow { color: #2c5dcd; font-weight: bold } /* Operator.Word */
html[data-theme="light"] .highlight .w { color: #cbcbcb } /* Text.Whitespace */
html[data-theme="light"] .highlight .mb { color: #5918bb; font-weight: bold } /* Literal.Number.Bin */
html[data-theme="light"] .highlight .mf { color: #5918bb; font-weight: bold } /* Literal.Number.Float */
html[data-theme="light"] .highlight .mh { color: #5918bb; font-weight: bold } /* Literal.Number.Hex */
html[data-theme="light"] .highlight .mi { color: #5918bb; font-weight: bold } /* Literal.Number.Integer */
html[data-theme="light"] .highlight .mo { color: #5918bb; font-weight: bold } /* Literal.Number.Oct */
html[data-theme="light"] .highlight .sa { color: #00cc66 } /* Literal.String.Affix */
html[data-theme="light"] .highlight .sb { color: #00cc66 } /* Literal.String.Backtick */
html[data-theme="light"] .highlight .sc { color: #00cc66 } /* Literal.String.Char */
html[data-theme="light"] .highlight .dl { color: #00cc66 } /* Literal.String.Delimiter */
html[data-theme="light"] .highlight .sd { color: #00cc66; font-style: italic } /* Literal.String.Doc */
html[data-theme="light"] .highlight .s2 { color: #00cc66 } /* Literal.String.Double */
html[data-theme="light"] .highlight .se { color: #c5060b; font-weight: bold } /* Literal.String.Escape */
html[data-theme="light"] .highlight .sh { color: #00cc66 } /* Literal.String.Heredoc */
html[data-theme="light"] .highlight .si { color: #00cc66 } /* Literal.String.Interpol */
html[data-theme="light"] .highlight .sx { color: #318495 } /* Literal.String.Other */
html[data-theme="light"] .highlight .sr { color: #00cc66 } /* Literal.String.Regex */
html[data-theme="light"] .highlight .s1 { color: #00cc66 } /* Literal.String.Single */
html[data-theme="light"] .highlight .ss { color: #c5060b; font-weight: bold } /* Literal.String.Symbol */
html[data-theme="light"] .highlight .bp { color: #5918bb; font-weight: bold } /* Name.Builtin.Pseudo */
html[data-theme="light"] .highlight .fm { color: #ff8000; font-weight: bold } /* Name.Function.Magic */
html[data-theme="light"] .highlight .il { color: #5918bb; font-weight: bold } /* Literal.Number.Integer.Long */
html[data-theme="dark"] .highlight pre { line-height: 125%; }
html[data-theme="dark"] .highlight td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight .hll { background-color: #6e768182 }
html[data-theme="dark"] .highlight { background: #0d1117; color: #C9D1D9 }
html[data-theme="dark"] .highlight .c { color: #8b949e } /* Comment */
html[data-theme="dark"] .highlight .err { color: #ff7b72 } /* Error */
html[data-theme="dark"] .highlight .k { color: #ff7b72 } /* Keyword */
html[data-theme="dark"] .highlight .l { color: #ffa657 } /* Literal */
html[data-theme="dark"] .highlight .n { color: #d2a8ff } /* Name */
html[data-theme="dark"] .highlight .o { color: #7ee787 } /* Operator */
html[data-theme="dark"] .highlight .p { color: #C9D1D9 } /* Punctuation */
html[data-theme="dark"] .highlight .ch { color: #8b949e } /* Comment.Hashbang */
html[data-theme="dark"] .highlight .cm { color: #8b949e } /* Comment.Multiline */
html[data-theme="dark"] .highlight .cp { color: #8b949e } /* Comment.Preproc */
html[data-theme="dark"] .highlight .cpf { color: #8b949e } /* Comment.PreprocFile */
html[data-theme="dark"] .highlight .c1 { color: #8b949e } /* Comment.Single */
html[data-theme="dark"] .highlight .cs { color: #8b949e } /* Comment.Special */
html[data-theme="dark"] .highlight .gd { color: #79c0ff } /* Generic.Deleted */
html[data-theme="dark"] .highlight .ge { font-style: italic } /* Generic.Emph */
html[data-theme="dark"] .highlight .gr { color: #ff7b72 } /* Generic.Error */
html[data-theme="dark"] .highlight .gh { color: #79c0ff } /* Generic.Heading */
html[data-theme="dark"] .highlight .gs { font-weight: bold } /* Generic.Strong */
html[data-theme="dark"] .highlight .gu { color: #79c0ff } /* Generic.Subheading */
html[data-theme="dark"] .highlight .kc { color: #79c0ff } /* Keyword.Constant */
html[data-theme="dark"] .highlight .kd { color: #ff7b72 } /* Keyword.Declaration */
html[data-theme="dark"] .highlight .kn { color: #ff7b72 } /* Keyword.Namespace */
html[data-theme="dark"] .highlight .kp { color: #ff7b72 } /* Keyword.Pseudo */
html[data-theme="dark"] .highlight .kr { color: #ff7b72 } /* Keyword.Reserved */
html[data-theme="dark"] .highlight .kt { color: #ff7b72 } /* Keyword.Type */
html[data-theme="dark"] .highlight .ld { color: #ffa657 } /* Literal.Date */
html[data-theme="dark"] .highlight .m { color: #ffa657 } /* Literal.Number */
html[data-theme="dark"] .highlight .s { color: #79c0ff } /* Literal.String */
html[data-theme="dark"] .highlight .na { color: #ffa657 } /* Name.Attribute */
html[data-theme="dark"] .highlight .nb { color: #ffa657 } /* Name.Builtin */
html[data-theme="dark"] .highlight .nc { color: #79c0ff } /* Name.Class */
html[data-theme="dark"] .highlight .no { color: #79c0ff } /* Name.Constant */
html[data-theme="dark"] .highlight .nd { color: #ffa657 } /* Name.Decorator */
html[data-theme="dark"] .highlight .ni { color: #7ee787 } /* Name.Entity */
html[data-theme="dark"] .highlight .ne { color: #d2a8ff } /* Name.Exception */
html[data-theme="dark"] .highlight .nf { color: #79c0ff } /* Name.Function */
html[data-theme="dark"] .highlight .nl { color: #ffa657 } /* Name.Label */
html[data-theme="dark"] .highlight .nn { color: #C9D1D9 } /* Name.Namespace */
html[data-theme="dark"] .highlight .nx { color: #d2a8ff } /* Name.Other */
html[data-theme="dark"] .highlight .py { color: #79c0ff } /* Name.Property */
html[data-theme="dark"] .highlight .nt { color: #7ee787 } /* Name.Tag */
html[data-theme="dark"] .highlight .nv { color: #ffa657 } /* Name.Variable */
html[data-theme="dark"] .highlight .ow { color: #d2a8ff } /* Operator.Word */
html[data-theme="dark"] .highlight .w { color: #C9D1D9 } /* Text.Whitespace */
html[data-theme="dark"] .highlight .mb { color: #ffa657 } /* Literal.Number.Bin */
html[data-theme="dark"] .highlight .mf { color: #ffa657 } /* Literal.Number.Float */
html[data-theme="dark"] .highlight .mh { color: #ffa657 } /* Literal.Number.Hex */
html[data-theme="dark"] .highlight .mi { color: #ffa657 } /* Literal.Number.Integer */
html[data-theme="dark"] .highlight .mo { color: #ffa657 } /* Literal.Number.Oct */
html[data-theme="dark"] .highlight .sa { color: #79c0ff } /* Literal.String.Affix */
html[data-theme="dark"] .highlight .sb { color: #79c0ff } /* Literal.String.Backtick */
html[data-theme="dark"] .highlight .sc { color: #79c0ff } /* Literal.String.Char */
html[data-theme="dark"] .highlight .dl { color: #79c0ff } /* Literal.String.Delimiter */
html[data-theme="dark"] .highlight .sd { color: #79c0ff } /* Literal.String.Doc */
html[data-theme="dark"] .highlight .s2 { color: #79c0ff } /* Literal.String.Double */
html[data-theme="dark"] .highlight .se { color: #79c0ff } /* Literal.String.Escape */
html[data-theme="dark"] .highlight .sh { color: #79c0ff } /* Literal.String.Heredoc */
html[data-theme="dark"] .highlight .si { color: #79c0ff } /* Literal.String.Interpol */
html[data-theme="dark"] .highlight .sx { color: #79c0ff } /* Literal.String.Other */
html[data-theme="dark"] .highlight .sr { color: #79c0ff } /* Literal.String.Regex */
html[data-theme="dark"] .highlight .s1 { color: #79c0ff } /* Literal.String.Single */
html[data-theme="dark"] .highlight .ss { color: #79c0ff } /* Literal.String.Symbol */
html[data-theme="dark"] .highlight .bp { color: #ffa657 } /* Name.Builtin.Pseudo */
html[data-theme="dark"] .highlight .fm { color: #79c0ff } /* Name.Function.Magic */
html[data-theme="dark"] .highlight .vc { color: #ffa657 } /* Name.Variable.Class */
html[data-theme="dark"] .highlight .vg { color: #ffa657 } /* Name.Variable.Global */
html[data-theme="dark"] .highlight .vi { color: #ffa657 } /* Name.Variable.Instance */
html[data-theme="dark"] .highlight .vm { color: #ffa657 } /* Name.Variable.Magic */
html[data-theme="dark"] .highlight .il { color: #ffa657 } /* Literal.Number.Integer.Long */